@import url("https://fonts.googleapis.com/css?family=Lato");

$yellow: #f8e9a1;
$red: #f76f6f;
$light-blue: #a8d0e6;
$dark-blue: #4e64bb;

$light-gray: #cbc9c2;
$off-white: #faf8f3;
$dark: #484848;

$font-main: "Lato";

$primary: $red;
$secondary: $dark-blue;
$text: $dark;
$bg: $off-white;

$bookshelf: $light-gray;

$book-height: 400px;
$book-shelf-width: 100px;
$book-open-width: 450px;
