@import url("https://fonts.googleapis.com/css?family=Lato");

$yellow: #f8e9a1;
$red: #f76f6f;
$light-blue: #a8d0e6;
$dark-blue: #4e64bb;

$shadow-gray: #E0E0E0;
$light-gray: #cbc9c2;
$off-white: #faf8f3;
$dark: #484848;
$alpha-mask: rgba(255, 255, 255, 0.1);
$alpha-strong: rgba(255,255,255,0.5);

$primary: $red;
$secondary: $dark-blue;
$text: $dark;
$bg: $off-white;
$textbox-border-color: $shadow-gray;
$textbox-border-radius: 3px;

$book-card-border-color: $shadow-gray;

$modal-bg: rgba(68, 68, 68, 0.6);
$modal-content-width: 86%;

$font-main: "Lato";
$font-size-header: 30px;
$font-size-button: 20px;

$shadow: 4px 6px 30px rgba(68, 68, 68, 0.7);

$bookshelf: $light-gray;

$book-height: 320px;
$book-width-shelf: 80px;
$book-width-open: 320px;
$shelf-height: 400px;
$shelf-list-width: 70vw;

@mixin textStyle($size) {
  font-family: "Lato";
  font-size: $size;
  color: $text;
}
