$jnode-dist: $jnode * 2;
$jnode-tail: $jnode-dist + $jnode;
$jnode-stagger: $jnode / 8;

.Journey-container {
  width: 100%;
}

.Journey-header {
  @include textStyle(40px);
  text-align: center;
  font-weight: 600;
  margin: 0;
  // margin: 50px 16% 20px 0;
}

.Journey {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 50px 0;
}

.Journey-timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Journey-timeline-svg {
  position: absolute;
  top: 25px;
  height: 90%;
  left: 50%;
}

.JourneyNode-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.JourneyNode {
  width: 100%;
  position: relative;
  height: $jnode-dist;
  display: flex;
  flex-direction: row;
}

.JourneyNode-user-container {
  flex: 0 0 50%;
}

.JourneyNode-user {
  @include textStyle(30px);
}

.JourneyNode-right-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.JourneyNode-username {
  @include textStyle(16px);
  position: absolute;
}

.JourneyNode-note {
  @include textStyle(16px);
  flex: 1 1 auto;
  opacity: 0;
  background-color: $yellow;
  transition: 300ms;
  // height: 70%;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: $shadow-sm;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: cneter;
  &:after {
    content: "";
    position: absolute;
    top: calc(50% - 16px);
    right: 100%;
    height: 0;
    width: 0;
    border-right: 16px solid $yellow;
    border-top: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}

.JourneyNode-avatar {
  flex: 0 0 $jnode;
  margin: 0 15px 0 60px;
  // margin: 0 25px;
  height: $jnode;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 250ms;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/llama-logo.png");
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
    ~ {
      .JourneyNode-note {
        opacity: 1;
      }
    }
  }
}

.Journey-impact {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Journey-impact-number {
  @include textStyle(50px, "Raleway");
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  margin-right: 16%;
  position: relative;
}

.border-rotate {
  border-radius: 50%;
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 5px solid $dark;
  border-bottom: 5px solid $dark;
  animation: rotateBorder 4s linear infinite;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(180deg)
  }
  75% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg)
  }
}