$jnode-dist: $jnode * 2;
$jnode-avatar: $jnode + 50px;
$jnode-tail: $jnode-dist + $jnode;
$jnode-stagger: $jnode / 8;

.Journey-container {
  width: 100%;
}

.Journey-header {
  @include textStyle(40px, "Julius Sans One");
  text-align: center;
  margin: 50px 16% 20px 0;
}

.Journey {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 50px 0;
}

.Journey-timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Journey-timeline-svg {
  position: absolute;
  top: 0;
  height: 100%;
  left: 40%;
}

.JourneyNode-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.JourneyNode {
  width: 100%;
  position: relative;
  height: $jnode-dist;
  display: flex;
  flex-direction: row;
}

.JourneyNode-user-container {
  flex: 0 0 40%;
}

.JourneyNode-avatar-container {
  flex: 0 0 $jnode-avatar;
}

.JourneyNode-note-container {
  flex: 1 1 auto;
}

.JourneyNode-username {
  @include textStyle(16px);
  position: absolute;
}

.JourneyNode-note {
  @include textStyle(16px);
  opacity: 0.1;
  background-color: $light-gray;
  transition: 300ms;
}

.JourneyNode-avatar {
  width: $jnode;
  height: $jnode;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid $light-gray;
  transition: 250ms;
  background-size: cover;
  background-position: center;
  background-image: url(https://source.unsplash.com/random/200x200);
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
    ~ {
      .JourneyNode-note {
        opacity: 1;
      }
    }
  }
}
