$inode-ring: $inode * 3;
$inode-ring-offset: (($inode - $inode-ring) / 2) - 1;
$inode-dist: $inode * 6;
$inode-tail: $inode + $inode-dist;

$itext: 16px;
$itext-half: $itext / 2;

.StoryIndicator {
  position: relative;
  margin-top: $inode-dist;
  height: $inode;
  width: $inode;
  border-radius: 50%;
  background-color: $dark;
  margin-left: 50px;
}

.StoryIndicator-tail {
  position: absolute;
  bottom: 50%;
  left: calc(50% - 1px);
  height: $inode-tail;
  width: 2px;
  background-color: $dark;
}

.StoryIndicator-ring {
  height: $inode-ring;
  width: $inode-ring;
  position: absolute;
  left: $inode-ring-offset;
  top: $inode-ring-offset;
  border-radius: 50%;
  border: 1px solid $dark;
}

.StoryIndicator-text {
  @include textStyle(16px);
  position: absolute;
  left: 50px;
  bottom: calc(50% - 8px);
  color: $dark;
  opacity: 0.2;
}
