.StoryWall {
  flex: 1 1 auto;
  padding: 160px 80px 60px 40px;
  overflow-y: scroll;
}

.StoryWall-text {
  @include textStyle(24);
  min-height: 65vh;
}

.StoryWall-main-info {
  position: sticky;
  top: 0;
}

.StoryWall-title {
  @include textStyle(40px);
  font-weight: 600;
  text-align: center;
}

.StoryWall-author {
  @include textStyle(26px);
  text-align: center;
  font-style: italic;
  margin: 10px 0 30px;
}

.StoryWall-excerpt {
  @include textStyle(20px);
}
