.Inbox-list {
  text-align: left;
  opacity: 0;
  display: block;
  width: 100%;
  transition: 300ms;
  box-shadow: 1px 1px 5px $light-gray;
  border-top: none;
}

.Inbox-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 30px;
}

.Inbox {
  @include textStyle(20px);
  color: $secondary;
  text-align: right;
  width: 400px;
  right: 160px;
  position: absolute;
  cursor: pointer;
  &:hover .Inbox-list {
    max-height: 400px;
    opacity: 1;
    overflow-y: auto;
  }
}

.ListEntry {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 1px solid $textbox-border-color;
  background-color: white;
  padding: 15px 35px;
  align-items: center;
  justify-content: space-between;
}

.ListEntry-text {
  display: flex;
  flex-direction: column;
  @include textStyle(20px);
  flex: 1 1;
}

.ListEntry-text-date {
  font-size: 16px;
  color: #8D8D8D;
  font-weight: 100px;
  margin-bottom: 5px;
  flex: 0 0 40px;
}

.ListEntry-action {
  flex: 0 0 40px;
}

.ListEntry-view-btn {
  @include textStyle(22px);
  border: none;
  padding-top: 22px;
}