.Inbox-list {
  text-align: left;
  opacity: 0;
  display: block;
  transition: 300ms;
  box-shadow: 1px 1px 5px $light-gray;
  border-top: none;
}

.Inbox-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.Inbox {
  @include textStyle(20px);
  width: 300px;
  color: $secondary;
  text-align: right;
  right: 200px;
  position: absolute;

  cursor: pointer;
  &:hover .Inbox-list {
    max-height: 400px;
    opacity: 1;
    overflow-y: auto;
  }
}

.ListEntry {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.ListEntry-text {
  display: flex;
  flex-direction: column;
}

.ListEntry-action {
  flex: 0 0 40px;
}
