@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0; }

.fill-container {
  width: 100%;
  height: 100%; }

.btn {
  padding: 6px 12px;
  font-weight: 500;
  font-family: "Lato";
  border: 1px solid #cbc9c2;
  border-radius: 5px;
  cursor: pointer; }
  .btn:hover {
    border-color: #484848; }

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #cbc9c2;
  font-family: "Lato";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
}

.UserMenu {
  display: flex;
  flex-direction: row; }

.Brand-name {
  color: #f76f6f; 
  margin-left: 40px;
  font-weight: bold;
  font-size: 24px;}

.Inbox-list {
  text-align: left;
  height: 0;
  opacity: 0;
  display: block;
  transition: 300ms; }

.Inbox-header {
  display: flex;
  justify-content: center;
  align-items: center; }

.Inbox {
  width: 300px;
  color: #4e64bb;
  text-align: right;
  border: 1px solid #cbc9c2;
  right: 200px;
  position: absolute; }
  .Inbox:hover .Inbox-list {
    height: 300px;
    opacity: 1;
    overflow-y: auto; }

.Avatar {
  background-color: #cbc9c2;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 40px; }

.Dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf8f3; }

.ShelfList {
  align-items: flex-end; }

.Shelf {
  display: flex;
  flex-direction: row;
  width: 70%;
  min-width: 500px;
  border-bottom: 10px double #cbc9c2; }

.ShelfHeader {
  color: #484848; }

.BookList {
  display: flex;
  flex-direction: row; }

.Book {
  height: 400px;
  width: 100px;
  background-color: dodgerblue;
  border: 2px solid rgba(68, 68, 68, 0.4); }
  .Book:hover {
    width: 450px;
    border-width: 6px; }

.ModalBase {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(68, 68, 68, 0.6);
  display: flex;
  justify-content: center;
  align-items: center; }

.ModalBase-view {
  box-sizing: border-box;
  position: absolute;
  height: 80%;
  width: 90%;
  max-height: 640px;
  max-width: 900px;
  background-color: #faf8f3;
  padding: 3%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  box-shadow: 4px 6px 30px rgba(68, 68, 68, 0.7);
  border-radius: 2px; }

.ModalBase-visuals {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background: repeating-linear-gradient(90deg, #4e64bb, #4e64bb 16.6%, #a8d0e6 16.6%, #a8d0e6 33.3%, #f76f6f 33.3%, #f76f6f 50%); }

.ModalBase-header {
  font-size: 30px;
  text-align: center;
  display: block;
  margin: 25px 5px;
  flex: 0 0; }

.ModalBase-content {
  flex: 1;
  position: relative; }

.mbtn-container {
  display: flex;
  flex-direction: row; }
  .mbtn-container .mbtn {
    margin-right: 25px; }
  .mbtn-container .mbtn:last-child {
    margin-right: 0; }

.mbtn {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: #4e64bb;
  font-size: 20px;
  padding: 8px 15px 11px 15px;
  width: 120px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer; }
  .mbtn:after {
    content: "";
    position: absolute;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .mbtn:hover:after {
    opacity: 1; }

.mbtn-cancel {
  background-color: transparent;
  color: #4e64bb; }

.mbtn-confirm {
  background-color: #4e64bb;
  color: #faf8f3; }

.ReceiveModal {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

.ReceiveModal-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  width: 100%; }

.SenderNote {
  padding: 40px 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  justify-content: center;
  align-content: center; }

.SenderNote-text {
  font-family: "Lato";
  font-size: 20px;
  color: #484848; }

.BookCard {
  padding: 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: white;
  font-family: "Lato";
  color: #484848; }

.BookCard-cover {
  margin: 10px 30px;
  flex: 0 1 160px;
  padding: 5px;
  border: 1px solid rgba(68, 68, 68, 0.6); }

.BookCard-cover-img {
  width: 100%; }

.BookCard-info {
  padding: 10px 20px;
  margin-left: 30px;
  flex: 0 0 50%;
  position: relative; }

.BookCard-title {
  margin-bottom: 20px; }

.BookCard-author {
  margin-bottom: 20px; }

.BookCard-details {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.AddModal {
  display: flex;
  flex-direction: column; }

.AddModal-search {
  flex: 0 0 80px;
  margin-bottom: 30px; }

.AddModal-search-input {
  height: 100%;
  display: block;
  width: auto; }

.AddModal-search-list {
  flex: 1 1 300px;
  overflow-y: scroll; }

.BookSearchCard {
  padding: 10px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: white;
  font-family: "Lato";
  color: #484848;
  position: relative; }

.BookSearchCard-cover {
  margin: 10px 30px;
  flex: 0 0 100px;
  padding: 5px;
  border: 1px solid rgba(68, 68, 68, 0.6); }

.BookSearchCard-info {
  font-family: "Lato";
  font-size: 14px;
  color: #484848;
  flex: 1 1 auto;
  margin: 10px 40px 10px 15px; }

.BookSearchCard-actions {
  flex: 0 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

/*# sourceMappingURL=base.css.map */
