/*
Error: Invalid CSS after "...textStyle(18px)": expected "{", was ";"
        on line 71 of scss/dashboard/_Book.scss
        from line 3 of scss/dashboard/_index.scss
        from line 7 of scss/base.scss

66:   @include textStyle(24px);
67: }
68: 
69: .Book-author {
70: <<<<<<< HEAD
71:   @include textStyle(18px);
72: }
73: 
74: .Book-send {
75:   position: absolute;
76:   top: 16px;

Backtrace:
scss/dashboard/_Book.scss:71
scss/dashboard/_index.scss:3
scss/base.scss:7
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1308:in `expected'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1238:in `expected'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1233:in `tok!'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:688:in `block'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:708:in `block_child'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:697:in `block_contents'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:689:in `block'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:681:in `ruleset'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:707:in `block_child'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:700:in `block_contents'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:41:in `parse'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/engine.rb:414:in `_to_tree'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/engine.rb:321:in `to_tree'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `block in with_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `with_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `block in with_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `with_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `map'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `each'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:320:in `block in watch'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/home/mcli830/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...textStyle(18px)\": expected \"{\", was \";\"\A         on line 71 of scss/dashboard/_Book.scss\A         from line 3 of scss/dashboard/_index.scss\A         from line 7 of scss/base.scss\A \A 66:   @include textStyle(24px);\A 67: }\A 68: \A 69: .Book-author {\A 70: <<<<<<< HEAD\A 71:   @include textStyle(18px);\A 72: }\A 73: \A 74: .Book-send {\A 75:   position: absolute;\A 76:   top: 16px;"; }
