.carousel {
  overflow: hidden;
  perspective: 1000px;
}

.carousel .Book {
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  transform-style: preserve-3d;
}

.carousel .Book.hideLeft {
  opacity: 0;
  z-index: -1;
  transform: scale(0.8);
}

.carousel .Book.hideRight {
  left: 100%;
  opacity: 0;
  z-index: -1;
  transform: scale(0.8);
}

.carousel .Book.left2 {
  z-index: 4;
  left: calc(15% - 100px);
  transform: scale(0.9);
  opacity: .7;
}

.carousel .Book.left1 {
  z-index: 5;
  left: calc(30% - 100px);
  transform: scale(1);
}

.carousel .Book.selected {
  z-index: 10;
  transform: scale(1.2) transformY(45deg);
}

.carousel .Book.right1 {
  z-index: 5;
  left: calc(70% - 100px);
  transform: scale(1);
}

.carousel .Book.right2 {
  z-index: 4;
  left: calc(85% - 100px);
  transform: scale(0.9);
  opacity: .7;
}
