.BookSearchCard {
  padding: 10px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  width: $modal-content-width;
  background-color: white;
  font-family: "Lato";
  color: $text;
  position: relative;
  margin: 0 auto;
  border: 1px solid $book-card-border-color;
  height: 120px;
  margin-bottom: 15px;
}

.BookSearchCard-cover {
  display: flex;
  margin: 10px 15px;
  flex: 0 1 250px;
  box-shadow: 0 0 2px;
}

.BookSearchCard-info {
  @include textStyle(14px);
  flex: 1 1 auto;
  margin: 10px 40px 10px 15px;
}

.BookSearchCard-actions {
  flex: 0 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.BookSearchCard-add {
  width: 80px;
}
