$book-transition: 250ms;

.BookList {
  @include fillContainer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.Book {
  margin: 0 5px;
  position: absolute;
  height: $book-height;
  width: $book-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: $book-transition;
  transition-timing-function: $bezier-bounce;
  position: relatwive;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
  border-radius: 1px;
  color: #444;
  z-index: 1;
  animation: drop 500ms ease-out;
  animation-timing-function: $bezier-bounce;
  .Book-content {
    width: $book-height;
    position: absolute;
    text-align: left;
    opacity: 0;
    overflow: hidden;
    transition: $book-transition;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: $book-transition;
  }
  &:hover {
    .Book-content {
      width: 90%;
      text-align: center;
      opacity: 0;
      transform: rotate(0) scale(1);
      align-items: center;
      * {
        white-space: normal;
        text-overflow: initial;
      }
    }
    .Book-send {
      opacity: 0.8;
    }
  }
}

.Book-cover{
  transition: $book-transition;
  @include overlay;
  img {
    @include overlay;
  }
}

.Book-cover-overlay {
  @include overlay;
  box-shadow: inset 0 0 120px $dark;
}


.Book-title {
  @include textStyle(24px, "Libre Baskerville");
  font-weight: 600;
  @include ellipsis;
}
.Book-author {
  @include textStyle(20px);
  @include ellipsis;
}

.Book-send {
  background-color: $shadow-alpha;
  position: absolute;
  top: 16px;
  left: 20px;
  color: white;
  font-size: 26px;
  transition: 250ms;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  i {
    position: absolute;
    margin-left: -2px;
  }
  &:hover {
    transform: scale(1.3);
  }
}

.Book-add-btn {
  color: $dark;
  padding: auto;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 1px solid $dark;
  border-radius: 50%;
  position: relative;
  transition: 300ms;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 50%;
  }
  &:before {
    top: calc(50% - 1px);
    left: 25%;
    border-top: 2px solid $dark;
  }
  &:after {
    left: calc(50% - 1px);
    top: 25%;
    border-left: 2px solid $dark;
  }
  &:hover {
    transform: scale(1.1);
    border-width: 2px;
  }
}
