.ShelfList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  z-index: 0;
  height: 100%;
}

.Shelf-wrapper {
  @include fillContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.Shelf {
  position: absolute;
  height: 100vh;
  box-sizing: content-box;
  position: relative;
  width: 100vw;
}

.Shelf-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.Shelf-platform {
  position: absolute;
  bottom: 26px;
  height: 34px;
  width: calc(100% - 120px);
  background-color: $light-gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 18px;
    width: calc(100% - 36px);
    height: 10px;
    background-color: $shelf-shadow-gray;
    transform-origin: 50% 100%;
  }
  &:before {
    transform: skew(60deg);
  }
  &:after {
    transform: skew(-60deg);
  }
}

.Shelf-header {
  font-size: 24px;
  font-family: $font-logo;
  color: $shelf-shadow-gray;
  margin: 0 20px;
}

.BookList {
  height: 100%;
  width: 100%;
  transition: 300ms;
}

.Shelf-right {
  height: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.Book-placeholder {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  padding: 5px;
  z-index: 1;
  transform-origin: 50% 90%;
  .wrapper {
    perspective: 800px;
    position: fixed;
    top: 40%;
    left: 8%;
    cursor: pointer;
    transition: 300ms;
    transition-timing-function: $bezier-bounce;
    .cube {
      font-size: 2em;
      width: 2em;
      margin: 1.5em auto;
      transform-style: preserve-3d;
      transform: rotateX(-8deg) rotateY(15deg);
      .side {
        position: absolute;
        width: 2em;
        height: 2em;

        background-color: rgba(255,255,255,0.5);
        border: 2px dashed $dark;
        border-radius: 5px;

        color: transparent;
        text-align: center;
        line-height: 2em;
      }
      .front  {
        transform: translateZ(1em);
        color: $dark;
        &:before {

        }
      }
      .top    { transform: rotateX( 90deg)  translateZ(1em); }
      .right  { transform: rotateY( 90deg)  translateZ(1em); }
      .left   { transform: rotateY(-90deg)  translateZ(1em); }
      .bottom { transform: rotateX(-90deg)  translateZ(1em); }
      .back   { transform: rotateY(-180deg) translateZ(1em); }
    }
    &:hover {
      transform: rotateX(-8deg) rotateY(15deg) scale(1.2);
      .side {
        border-width: 3px;
      }
    }
  }
}
