.ShelfList {
  display: flex;
  flex-direction: column;
  width: 70vw;
  z-index: 0;
}

.Shelf-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.Shelf {
  position: absolute;
  height: $shelf-height;
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: content-box;
  overflow: auto;
  position: relative;
  width: 100%;
}

.ShelfHeader {
  // @include textStyle(22px);
  // position: absolute;
  font-size: 24px;
  font-family: $font-logo;
  top: -6px;
  left: 10px;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  height: 50px;
  color: $shelf-shadow-gray;
  display: block;
  margin-left: 10px;
  padding-top: 2px;
  margin-right: auto;
  width: 120px;
}

.Shelf-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.Shelf-platform {
  position: absolute;
  bottom: 20px;
  height: 34px;
  width: calc(100% - 120px);
  background-color: $light-gray;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 18px;
    width: calc(100% - 36px);
    height: 10px;
    background-color: $shelf-shadow-gray;
    transform-origin: 50% 100%;
  }
  &:before {
    transform: skew(60deg);
  }
  &:after {
    transform: skew(-60deg);
  }
}

.Llama-container {
  width: 380px;
  height: 380px;
  margin-bottom: -45px;
  img{
    height: 100%;
    width: auto;
  }
}
