.ShelfList {
  display: flex;
  flex-direction: column;
}

.Shelf {
  height: 500px;
  width: 820px;
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: content-box;
  overflow: auto;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 30px;
    border-bottom: 30px double #444;
    width: 200%;
  }
}

.ShelfHeader {
  color: $text;
}

.ShelfPlatform {
}
